<div layout="row" layout-margin>
  <div flex class="list">
    <div class="list-header">
      <h2 class="list-header-name">Neu</h2>
    </div>
    <ul dnd-list="board.lists.new.items">
      <!-- The dnd-draggable directive makes an element draggable and will
           transfer the object that was assigned to it. If an element was
           dragged away, you have to remove it from the original list
           yourself using the dnd-moved attribute -->
      <li ng-repeat="item in board.lists.new.items" dnd-draggable="item" dnd-moved="board.lists.new.items.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="board.lists.new.selected = item" ng-class="{'selected': board.lists.new.selected === item}">
        <strong>{{ item.room }}</strong>
        <span>{{ item.problem }}</span>
        <span>{{ item.position }}</span>
      </li>
      <li ng-hide="board.isInEditMode">
        <md-button class="md-raised md-primary" ng-click="board.toggleEditMode()">Hinzufügen</md-button>
      </li>
      <li ng-show="board.isInEditMode">
        <md-content>
          <md-input-container>
            <label>Title</label>
            <input ng-model="board.newItem.room">
          </md-input-container>

          <md-input-container flex>
            <label>Problem</label>
            <textarea ng-model="board.newItem.problem" columns="1" md-maxlength="150"></textarea>
          </md-input-container>
          <md-button ng-click="board.toggleEditMode()">Abbrechen</md-button>
          <md-button ng-click="board.create(board.newItem)">Speichern</md-button>
        </md-content>

      </li>
    </ul>
  </div>

  <div flex class="list">
    <div class="list-header">
      <h2 class="list-header-name">In Bearbeitung</h2>
    </div>

    <ul dnd-list="board.lists.processing.items">
      <li ng-repeat="item in board.lists.processing.items" dnd-draggable="item" dnd-moved="board.lists.processing.items.splice($index, 1)" dnd-effect-allowed="move" dnd-selected="board.lists.processing.selected = item" ng-class="{'selected': board.lists.processing.selected === item}">
        <strong>{{ item.room }}</strong>
        <span>{{ item.problem }}</span>
        <span>{{ item.position }}</span>
      </li>
    </ul>
  </div>
</div>
